{% extends 'plantillas/layout.html' %}
{% block titulo %}Editar Tipo de Producto{% endblock %}
{% block cuerpo %}
<div class="container pt-4">
    <div class="row">
        <div class="col-md-5">
            <div class="card-header">Modificar Tipo de Producto</div>
            {% with mensajes = get_flashed_messages() %}
                {% if mensajes %}
                    {% for mensaje in mensajes %}               
                        <div class="alert alert-success alert-dismissible fade show" role="alert">
                            {{ mensaje }}
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}    
            <div class="card card-body">            
                <form action="/tipoproducto/editar/{{ form.0 }}" method="POST" autocomplete="on">
                    <div class="form-group">
                        <input type="text" class="form-control" name="nombre" value="{{ form.1 }}" placeholder="Nombre" required>
                    </div>                                                                    
                    <button type="submit" id="sendlogin" class="btn btn-primary btn-block">Actualizar</button>
                </form>
            </div> 
        </div>        
    </div>
</div>
{% endblock %}