{% extends 'plantillas/layout.html' %}
{% block titulo %}Eliminar Tipo de Producto{% endblock %}
{% block cuerpo %}
<div class="container pt-4">
    <div class="row">
        <div class="col-md-5">
            <div class="card-header">Eliminar Tipo de Producto</div>
            <div class="card card-body">
                <form action="/tipoproducto/eliminar/{{ form.0 }}" method="post">                    
                    <div class="form-group">
                    <label for="confirmaeliminacion">¿ Esta Seguro de Eliminar el Tipo de Producto {{ form.1 }} ?</label>
                    </div>
                    <button type="submit" class="btn btn-danger">Eliminar</button>
                    <a class="btn btn-info" href="/tiposproducto">Cancelar</a>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}