{% extends 'plantillas/layout.html' %}
{% block titulo %}Tipos de Productos{% endblock %}
{% block cuerpo %}
<div class="container pt-4">
    <div class="row">
       <div class="col-md-12">
            {% with mensajes = get_flashed_messages() %}
                {% if mensajes %}
                    {% for categoria,mensaje in mensajes %}               
                        <div class="alert alert-{{ categoria }} alert-dismissible fade show" role="alert">
                            {{ mensaje }}
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    {% endfor %}
                {% endif %}
            {% endwith %} 
            <div class="form-group">
                <div class="row">
                  <div class="col-sm">
                    <a class="btn btn-success" href="/tipoproducto/agregar" role="button">Nuevo</a> 
                  </div>
                  <div class="col-sm">
                    <label for="Titulo">Listado de Tipos de Productos</label>
                  </div>
                  <div class="col-sm">
                    <form class="form-inline my-2 my-lg-0">
                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                        <input class="form-control mr-sm-2" type="search" placeholder="Buscar" aria-label="Search">
                        <button class="btn btn-outline-dark my-2 my-sm-0" type="submit">Buscar</button>
                    </form>
                  </div>
                </div>
            </div>            
            <table class="table table-striped table-boardered table-sm">
                <thead>
                    <tr>
                        <td>Id</td>
                        <td>Nombre</td>                        
                        <td>Operaciones</td>
                    </tr>
                </thead>
                <tbody>
                    {% if form %}
                        {% for tipoproducto in form %}
                            <tr>
                                <td>{{ tipoproducto.0 }}</td>
                                <td>{{ tipoproducto.1 }}</td>                           
                                <td>
                                    <a href="/tipoproducto/editar/{{ tipoproducto.0 }}" class="btn btn-warning">Editar</a>
                                    <a href="/tipoproducto/eliminar/{{ tipoproducto.0 }}" class="btn btn-danger btn-delete">Eliminar</a>
                                </td>
                            </tr>
                        {% endfor %}
                    {% endif %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}