{% extends 'plantillas/layout.html' %}
{% block titulo %}Editar Compra{% endblock %}
{% from "plantillas/dropdown.html" import dropdown %}
{% block cuerpo %}
<div class="container pt-4">
    <div class="row">
        <div class="col-md-5">
            <div class="card-header">Modificar Compra</div>
            {% with mensajes = get_flashed_messages() %}
                {% if mensajes %}
                    {% for mensaje in mensajes %}               
                        <div class="alert alert-success alert-dismissible fade show" role="alert">
                            {{ mensaje }}
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}    
            <div class="card card-body">            
                <form action="/compra/editar/{{ compra.0.0 }}" method="POST" autocomplete="on">
                    <div class="form-group">
                        <input type="date" class="form-control" name="fecha" value="{{ compra.0.1 }}" placeholder="Fecha" required>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" name="documento" value="{{ compra.0.2 }}" placeholder="Documento" required>
                    </div>
                    <div class="form-group">
                        {{ dropdown('proveedor', proveedores,selected=[compra.3], extra=' id="proveedores" required ') }}
                    </div>  

                    <!--  DETALLE ETIQUETAS -->
                    <div class="form-row" id="detproduc0" >
                        <div class="col-6">
                            <div class="form-group">
                                <label for="Producto">Producto</label>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="form-group">
                                <label for="Cantidad">Cantidad</label>
                            </div>
                        </div>  
                        <div class="col-3">
                            <div class="form-group">
                                <label for="Precio">Precio</label>
                            </div>
                        </div>                                               
                    </div>

                    <div class="form-group" hidden>
                        <input type="number" name="numdet" class="form-control" value="{{ detallecompra|length }}" hidden>
                    </div>

                    {% for detalle in detallecompra %}
                        <div class="form-row" id="detproduc{{loop.index}}" >
                            <div class="col-6">
                                <div class="form-group">
                                    {{ dropdown('producto' + loop.index|string , productos,selected=[detalle.2], extra=' required ') }}
                                </div>                         
                            </div>                        
                            <div class="col-3">
                                <div class="form-group">
                                    <input type="number" name="cantidad{{loop.index}}" class="form-control" value="{{ detalle.3 }}" placeholder="Cantidad" required>
                                </div> 
                            </div>
                            <div class="col-3">
                                <div class="form-group">
                                    <input type="number" step="any" name="precio{{loop.index}}" class="form-control" value="{{ detalle.4 }}" placeholder="Precio" required>
                                </div> 
                            </div>                                                
                        </div>
                        <div class="form-group" hidden>
                            <input type="number" name="id{{loop.index}}" class="form-control" value="{{ detalle.0 }}" hidden>
                        </div>
                    {% endfor %}
                    {% if detalleprecios|length < 5 %}
                        {% for i in range(1+detallecompra|length,6) %}
                            <div class="form-row" id="detproduc{{i}}" >
                                <div class="col-6">
                                    <div class="form-group">
                                        {{ dropdown('producto' + i|string , productos, extra=' ') }}
                                    </div>                         
                                </div>
                                <div class="col-3">
                                    <div class="form-group">
                                        <input type="number" name="cantidad{{i}}" class="form-control" placeholder="Cantidad"  >
                                    </div> 
                                </div>                                                     
                                <div class="col-3">
                                    <div class="form-group">
                                        <input type="number" step="any" name="precio{{i}}" class="form-control" placeholder="Precio" >
                                    </div> 
                                </div>
                                <div class="col-3">
                                    <div class="form-group">
                                        <input type="number" name="id{{i}}" class="form-control" value="TMP" hidden>
                                    </div> 
                                </div>                                            
                            </div>                                
                        {% endfor %} 
                    {% endif  %}                                          
                    <button type="submit" id="sendlogin" class="btn btn-primary btn-block">Actualizar</button>
                </form>
            </div> 
        </div>        
    </div>
</div>
{% endblock %}