{% extends 'plantillas/layout.html' %}
{% block titulo %}Editar Productos{% endblock %}
{% from "plantillas/dropdown.html" import dropdown %}
{% block cuerpo %}
<div class="container pt-4">
    <div class="row">
        <div class="col-md-5">
            <div class="card-header">Modificar Productos</div>
            {% with mensajes = get_flashed_messages() %}
                {% if mensajes %}
                    {% for mensaje in mensajes %}               
                        <div class="alert alert-success alert-dismissible fade show" role="alert">
                            {{ mensaje }}
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}    
            <div class="card card-body">            
                <form action="/producto/editar/{{ producto.0 }}" method="POST" autocomplete="on">
                    <div class="form-group">
                        <input type="text" class="form-control" name="nombre" value="{{ producto.1 }}" placeholder="Nombre" required>
                    </div>
                    <div class="form-group">
                        {{ dropdown('tipo', tipos,selected=[producto.2],extra=' required ') }}
                    </div>
                    <div class="form-group">
                        <input type="number" class="form-control" name="costo"value="{{ producto.3 }}" placeholder="Costo" required>
                    </div>
                    <div class="form-group">
                        <input type="number" class="form-control" name="precio"value="{{ producto.4 }}" placeholder="Precio" required>
                    </div>

                    <div class="form-group" hidden>
                        <input type="number" name="numdet" class="form-control" value="{{ detalleprecios|length }}" hidden>
                    </div>                    
                    <!--  DETALLE ETIQUETAS -->
                    <div class="form-row" id="detproduc0" >
                        <div class="col-6">
                            <div class="form-group">
                                <label for="Producto">Tipo de Precio</label>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="form-group">
                                <label for="Cantidad">Precio</label>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="form-group">
                                <label for="Cantidad">Prima</label>
                            </div>
                        </div>                                                                                                
                    </div> 
                    {% for detalle in detalleprecios %}
                        <div class="form-row" id="detproduc{{loop.index}}" >
                            <div class="col-6">
                                <div class="form-group">
                                    {{ dropdown('tipoPrecio' + loop.index|string , formas,selected=[detalle.2], extra=' required ') }}
                                </div>                         
                            </div>                        
                            <div class="col-3">
                                <div class="form-group">
                                    <input type="number" step="any" name="precio{{loop.index}}" class="form-control" value="{{ detalle.4 }}" placeholder="Precio" >
                                </div> 
                            </div>                                                     
                            <div class="col-3">
                                <div class="form-group">
                                    <input type="number" step="any" name="prima{{loop.index}}" class="form-control" value="{{ detalle.5 }}" placeholder="Prima" >
                                </div> 
                            </div> 
                            <div class="col-3">
                                <div class="form-group">
                                    <input type="number" name="id{{loop.index}}" class="form-control" value="{{ detalle.0 }}" hidden>
                                </div> 
                            </div>                                                                   
                        </div>
                    {% endfor %} 
                    {% if detalleprecios|length < 5 %}
                        {% for i in range(1+detalleprecios|length,6) %}
                            <div class="form-row" id="detprecio{{i}}" >
                                <div class="col-6">
                                    <div class="form-group">
                                        {{ dropdown('tipoPrecio' + i|string , formas, extra='  ') }}
                                    </div>                         
                                </div>
                                <div class="col-3">
                                    <div class="form-group">
                                        <input type="number" step="any" name="precio{{i}}" class="form-control" placeholder="Precio"  >
                                    </div> 
                                </div>                                                     
                                <div class="col-3">
                                    <div class="form-group">
                                        <input type="number" step="any" name="prima{{i}}" class="form-control" placeholder="Prima" >
                                    </div> 
                                </div>
                                <div class="col-3">
                                    <div class="form-group">
                                        <input type="number" name="id{{i}}" class="form-control" value="TMP" hidden>
                                    </div> 
                                </div>                                            
                            </div>                                
                        {% endfor %} 
                    {% endif  %}                                                                                                     
                    <button type="submit" id="sendlogin" class="btn btn-primary btn-block">Actualizar</button>
                </form>
            </div> 
        </div>        
    </div>
</div>
{% endblock %}