{% extends 'plantillas/layout.html' %}
{% block titulo %}Eliminar Proveedor{% endblock %}
{% block cuerpo %}
<div class="container pt-4">
    <div class="row">
        <div class="col-md-5">
            <div class="card-header">Eiminar Proveedor</div>
            <div class="card card-body">
                <form action="/proveedor/eliminar/{{ form.0 }}" method="post">                    
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                    <div class="form-group">
                        <label for="confirmaeliminacion">¿ Esta Seguro de Eliminar el Proveedor {{ form.1 }} ?</label>
                    </div>
                    <button type="submit" class="btn btn-danger">Eliminar</button>
                    <a class="btn btn-info" href="/proveedores">Cancelar</a>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}