{% extends 'plantillas/layout.html' %}
{% block titulo %}Procesar Consigna{% endblock %}
{% from "plantillas/dropdown.html" import dropdown %}
{% block cuerpo %}
<div class="container pt-4">
    <div class="row">
        <div class="col-md-8">
            <div class="card-header">Procesar Consigna</div>
            {% include 'plantillas/flash.html' %}   
            <div class="card card-body">            
                <form action="/consigna/procesar/{{ consigna.0.0 }}" method="POST" autocomplete="on">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                    <div class="form-group">
                        <input type="date" class="form-control" name="fecha" value="{{ consigna.0.1 }}" placeholder="Fecha" readonly>
                    </div>
                    <div class="form-group">
                        {{ dropdown('vendedor', vendedores,selected=[consigna.0.2], extra=' id="vendedores" disabled ') }}
                    </div>  

                    <!--  DETALLE ETIQUETAS -->
                    <div class="form-row" id="detproduc0" >
                        <div class="col-6">
                            <div class="form-group">
                                <label for="Producto">Producto</label>
                            </div>
                        </div>
                        <div class="col-2">
                            <div class="form-group">                                
                                <label for="Cantidad">Cantidad</label>
                            </div>
                        </div>
                        <div class="col-2">
                            <div class="form-group">                                
                                <label for="Cantidad">Vendido</label>
                            </div>
                        </div>                           
                        <div class="col-2">
                            <div class="form-group">
                                <label for="Cantidad">Devolucion</label>
                            </div>
                        </div>                                                                    
                    </div>

                    <div class="form-group" hidden>
                        <input type="number" name="numdet" class="form-control" value="{{ detalleconsigna|length }}" hidden>
                    </div>

                    {% for detalle in detalleconsigna %}

                    <div class="form-row" id="detproduc{{loop.index}}" >
                        <div class="col-6">
                            <div class="form-group">
                                {{ dropdown('producto' + loop.index|string , productos,selected=[detalle.2], extra=' disabled ') }}
                            </div>                         
                        </div>                        
                        <div class="col-2">
                            <div class="form-group">
                                <input type="number" name="cantidad{{loop.index}}" class="form-control" value="{{ detalle.3 }}" placeholder="Cantidad" min="0" max="{{ detalle.3 }}" readonly>
                            </div> 
                        </div>
                        <div class="col-2">
                            <div class="form-group">
                                <input type="number" name="vendido{{loop.index}}" class="form-control" value="{{ detalle.3 }}" placeholder="Cantidad" min="0" max="{{ detalle.3 }}" readonly>
                            </div> 
                        </div>                        
                        <div class="col-2">
                            <div class="form-group">
                                {% if detalle.6 == 'NO' %}
                                    <input type="number" name="devolucion{{loop.index}}" class="form-control" value="{{ detalle.4 }}" placeholder="Devolucion" min="0" max="{{ detalle.3 }}" required>
                                {% else %}
                                    <input type="number" name="devolucion{{loop.index}}" class="form-control" value="{{ detalle.4 }}" placeholder="Devolucion" min="0" max="{{ detalle.3 }}" readonly>
                                {% endif %}
                            </div> 
                        </div>                                                                   
                    </div>

                    <div class="form-group">
                        <input type="number" name="id{{loop.index}}" class="form-control" value="{{ detalle.0 }}" hidden>
                    </div> 

                    {% endfor %}                  
                    
                    <button type="submit" id="sendlogin" class="btn btn-primary btn-block">Actualizar</button>
                </form>
            </div> 
        </div>        
    </div>
</div>
{% endblock %}
{% block script %}
    $(document).ready(function(){

        $('input[name=devolucion1]').on('change focus',function(){
            total();            
        });

        $('input[name=devolucion2]').on('change focus',function(){
            total();          
        }); 
        
        $('input[name=devolucion3]').on('change focus',function(){
            total();         
        });

        $('input[name=devolucion4]').on('change focus',function(){
            total();         
        });

        $('input[name=devolucion5]').on('change focus',function(){
            total();         
        });         

        function total(id){
            for (var i = 1; i <= 5; i++) {
                var campoc = 'cantidad' + i;
                var campov = 'vendido' + i;
                var campod = 'devolucion' + i;
                var vendido = 0;
                var cantidad = parseInt($('input[name='+campoc+']').val());
                if ($('input[name='+campod+']').val() > 0) {
                    vendido = cantidad - parseInt($('input[name='+campod+']').val());
                }
                else
                {
                    vendido = cantidad
                }               
                $('input[name='+campov+']').val(vendido);
             }
        }
    });
{% endblock %}