{% extends 'plantillas/layout.html' %}
{% block titulo %}Generar Cargos{% endblock %}
{% from "plantillas/dropdown.html" import dropdown %}
{% block cuerpo %}
<div class="container pt-4">
    <div class="row">
        <div class="col-md-12">
            <div class="card-header">Generar Cargo CxC por Consignacion</div>
            {% with mensajes = get_flashed_messages() %}
                {% if mensajes %}
                    {% for mensaje in mensajes %}               
                        <div class="alert alert-success alert-dismissible fade show" role="alert">
                            {{ mensaje }}
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}    
            <div class="card card-body">            
                <form id="form_detcon_cxc" action="/consigna/editar/{{ seleccion.id }}" method="POST" autocomplete="on">
                    <div class="form-group">
                        <input type="text" class="form-control" name="idconsigna" value="{{ seleccion.id }}" hidden>
                    </div>
                    <div class="form-group">
                        <input type="date" class="form-control" name="fecha" value="{{ seleccion.fecha }}" placeholder="Fecha" readonly>
                    </div>
                    <div class="form-group">
                        <input type="text" name="descripcion" class="form-control" value="{{ seleccion.descripcion }}" placeholder="Cantidad" readonly>
                    </div>  

                    <!--  DETALLE ETIQUETAS -->
                    <div class="form-row" id="detproduc0" >
                        <div class="col-3">
                            <div class="form-group">
                                <label for="Cliente">Cliente</label>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="form-group">
                                <label for="Producto">Producto</label>
                            </div>
                        </div> 
                        <div class="col-1">
                            <div class="form-group">
                                <label for="Cantidad">Cantidad</label>
                            </div>
                        </div>    
                        <div class="col-3">
                            <div class="form-group">
                                <label for="FormaPago">Forma de Pago</label>
                            </div>
                        </div>  
                        <div class="col-2">
                            <div class="form-group">
                                <label for="Prima">Prima</label>
                            </div>
                        </div>                                                                                                                                         
                    </div>

                    <div class="form-group" hidden>
                        <input type="number" name="numdet" class="form-control" value="{{ detalleconsigna|length }}" hidden>
                    </div>

                    {% for detalle in detalleconsigna %}
                    <div class="form-row" id="detproduc{{loop.index}}">
                        <div class="col-3">
                            <div class="form-group">
                                {{ dropdown('cliente' + loop.index|string , clientes, extra=' required ') }}
                            </div>                         
                        </div>                        
                        <div class="col-3">
                            <div class="form-group">
                                {{ dropdown('producto' + loop.index|string , productos, extra=' required ') }}
                            </div>                         
                        </div>                        
                        <div class="col-1">
                            <div class="form-group">
                                <input type="number" name="cantidad{{loop.index}}" class="form-control" max="{{ detalle.3 }}" placeholder="Cantidad" required>
                            </div> 
                        </div>
                        <div class="col-3">
                            <div class="form-group">
                                {{ dropdown('formapago' + loop.index|string , formaspago, extra=' required ') }}
                            </div>                         
                        </div>
                        <div class="col-2">
                            <div class="form-group">
                                <input type="number" step="any" name="prima{{loop.index}}" class="form-control"  placeholder="Prima" >
                            </div> 
                        </div>                                                
                        <div class="col-3">
                            <div class="form-group">
                                <input type="number" name="id{{loop.index}}" class="form-control" value="{{ detalle.0 }}" hidden>
                            </div> 
                        </div>                                                                   
                    </div>
                    {% endfor %}                  
                    {% if detalleconsigna|length < 5 %}
                        {% for i in range(1+detalleconsigna|length,6) %}
                            <div class="form-row" id="detproduc{{i}}" >
                                <div class="col-3">
                                    <div class="form-group">
                                        {{ dropdown('cliente' + i|string , clientes, extra='') }}
                                    </div>                         
                                </div>
                                <div class="col-3">
                                    <div class="form-group">
                                        {{ dropdown('producto' + i|string , productos, extra='') }}
                                    </div> 
                                </div>
                                <div class="col-1">
                                    <div class="form-group">
                                        <input type="number" name="cantidad{{i}}" class="form-control" placeholder="Cantidad">
                                    </div> 
                                </div>
                                <div class="col-3">
                                    <div class="form-group">
                                        {{ dropdown('formapago' + i|string , formaspago, extra='') }}
                                    </div>                         
                                </div>
                                <div class="col-2">
                                    <div class="form-group">
                                        <input type="number" step="any" name="prima{{i}}" class="form-control" placeholder="Prima">
                                    </div> 
                                </div>                                                                                                                                                      
                                <div class="col-3">
                                    <div class="form-group">
                                        <input type="number" name="id{{i}}" class="form-control" value="TMP" hidden>
                                    </div> 
                                </div>                                            
                            </div>                                
                        {% endfor %} 
                    {% endif  %}                     
                    <button type="submit" id="sendlogin" class="btn btn-primary btn-block">Actualizar</button>
                </form>
            </div> 
        </div>        
    </div>
</div>
{% endblock %}