{% extends 'plantillas/layout.html' %}
{% block titulo %}Generar Cargos{% endblock %}
{% from "plantillas/dropdown.html" import dropdown %}
{% block cuerpo %}
<div class="container pt-4">
    <div class="row">
        <div class="col-md-12">
            <div class="card-header">Generar Cargo CxC por Consignacion</div>
            {% with mensajes = get_flashed_messages() %}
                {% if mensajes %}
                    {% for mensaje in mensajes %}               
                        <div class="alert alert-success alert-dismissible fade show" role="alert">
                            {{ mensaje }}
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}    
            <div class="card card-body">            
                <form id="form_detcon_cxc" action="/cxc/detconsigna/" method="POST" autocomplete="on">
                    <div class="form-group">
                        <input type="text" class="form-control" name="idconsigna" value="{{ seleccion.id }}" hidden>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" name="iddetalle" value="{{ seleccion.iddetalle }}" hidden>
                    </div>                    
                    <div class="form-group">
                        <input type="text" class="form-control" name="idproducto" value="{{ seleccion.producto }}" hidden>
                    </div>
                    <div class="form-group">
                        <input type="number" class="form-control" id="cantidad_ini" value="{{ seleccion.cantidad }}" hidden>
                    </div>                                                          
                    <div class="form-group">
                        <input type="date" class="form-control" name="fecha" value="{{ seleccion.fecha }}" placeholder="Fecha" readonly>
                    </div>
                    <div class="form-group">
                        <input type="text" name="descripcion" class="form-control" value="{{ seleccion.descripcion }}" placeholder="Descripcion" readonly>
                    </div>
                    <div class="form-row">
                        <div class="col-8">
                            <div class="form-group">
                                <input type="text" name="nomproducto" class="form-control" value="{{ seleccion.nomproducto }}" placeholder="Nombre Producto" readonly>
                            </div> 
                        </div>
                        <div class="col-1">
                            <div class="form-group">
                                <label for="Cantidad">Cantidad</label>
                            </div> 
                        </div> 
                        <div class="col-1">
                            <div class="form-group">                                
                                <input type="numer" class="form-control" name="disponible" value="{{ seleccion.cantidad }}" readonly>
                            </div>
                        </div>
                        <div class="col-1">
                            <div class="form-group">
                                <label for="Cantidad">Pendiente</label>
                            </div> 
                        </div> 
                        <div class="col-1">
                            <div class="form-group">
                                <input type="text" name="pendiente" class="form-control" value="{{ seleccion.cantidad }}" placeholder="Pendiente" readonly> 
                            </div> 
                        </div>                                                  
                    </div>                                   

                    <!--  DETALLE ETIQUETAS -->
                    <div class="form-row" id="detproduc0" >
                        <div class="col-4">
                            <div class="form-group">
                                <label for="Cliente">Cliente</label>
                            </div>
                        </div>
                        <div class="col-2">
                            <div class="form-group">
                                <label for="Cantidad">Cantidad</label>
                            </div>
                        </div>    
                        <div class="col-4">
                            <div class="form-group">
                                <label for="FormaPago">Forma de Pago</label>
                            </div>
                        </div>  
                        <div class="col-2">
                            <div class="form-group">
                                <label for="Prima">Prima</label>
                            </div>
                        </div>                                                                                                                                         
                    </div>

                    <div class="form-group" hidden>
                        <input type="number" name="numdet" class="form-control" value="{{ detalleconsigna|length }}" hidden>
                    </div>

                    {% for detalle in detalleconsigna %}
                    <div class="form-row" id="detproduc{{loop.index}}">
                        <div class="col-4">
                            <div class="form-group">
                                {{ dropdown('cliente' + loop.index|string , clientes,selected=[detalle.1], extra=' ') }}
                            </div>                         
                        </div>                                         
                        <div class="col-2">
                            <div class="form-group">
                                <input type="number" name="cantidad{{loop.index}}" id="cantidad{{loop.index}}" class="form-control" value="{{ detalle.2 }}" placeholder="Cantidad" >
                            </div> 
                        </div>
                        <div class="col-4">
                            <div class="form-group">
                                {{ dropdown('formapago' + loop.index|string , formaspago,selected=[detalle.3], extra='') }}
                            </div>                         
                        </div>
                        <div class="col-2">
                            <div class="form-group">
                                <input type="number" step="any" name="prima{{loop.index}}" class="form-control" value="{{ detalle.4 }}"  placeholder="Prima" >
                            </div> 
                        </div>                                                
                        <div class="col-3">
                            <div class="form-group">
                                <input type="number" name="id{{loop.index}}" class="form-control" value="{{ detalle.0 }}" hidden>
                            </div> 
                        </div>                                                                   
                    </div>
                    {% endfor %}                  
                    {% if detalleconsigna|length < 5 %}
                        {% for i in range(1+detalleconsigna|length,6) %}
                            <div class="form-row" id="detproduc{{i}}" >
                                <div class="col-4">
                                    <div class="form-group">
                                        {{ dropdown('cliente' + i|string , clientes, extra='') }}
                                    </div>                         
                                </div>
                                <div class="col-2">
                                    <div class="form-group">
                                        <input type="number" name="cantidad{{i}}" id="cantidad{{i}}" class="form-control" placeholder="Cantidad">
                                    </div> 
                                </div>
                                <div class="col-4">
                                    <div class="form-group">
                                        {{ dropdown('formapago' + i|string , formaspago, extra='') }}
                                    </div>                         
                                </div>
                                <div class="col-2">
                                    <div class="form-group">
                                        <input type="number" step="any" name="prima{{i}}" class="form-control" placeholder="Prima">
                                    </div> 
                                </div>                                                                                                                                                      
                                <div class="col-3">
                                    <div class="form-group">
                                        <input type="number" name="id{{i}}" class="form-control" value="" hidden>
                                    </div> 
                                </div>                                            
                            </div>                                
                        {% endfor %} 
                    {% endif  %}                     
                    <button type="submit" id="sendlogin" class="btn btn-primary btn-block" disabled>Generar</button>
                </form>
            </div> 
        </div>        
    </div>
</div>
{% endblock %}
{% block script %}
    
    var valor_inicial = $('#cantidad_ini').val();

    $(document).ready(function(){                

        $('#cantidad1').on('change focus',function(){
            sumar();            
        });

        $('#cantidad2').on('change focus',function(){
            sumar();          
        }); 
        
        $('#cantidad3').on('change focus',function(){
            sumar();         
        });

        $('#cantidad4').on('change focus',function(){
            sumar();         
        });

        $('#cantidad5').on('change focus',function(){
            sumar();         
        });        
        
        function sumar(){
            var valor_restar = 0;
            var valor = parseInt(valor_inicial);
            for (var i = 1; i < 6; i++) {
                if ($('#cantidad' + i).val() > 0) {
                    valor_restar += parseInt($('#cantidad' + i).val());
                } 
             }
            //$('#cantidad_cxc').val(valor - valor_restar);
            $('input[name=pendiente]').val(valor - valor_restar);
            if((valor - valor_restar)==0)
            {
                $("#sendlogin").removeAttr("disabled");
            }
            else
            {
                $("#sendlogin").attr("disabled", "disabled");
            }
        }

    });
{% endblock %}
